@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
} */

body.light {
  background-color: rgb(244, 247, 242);
  color: black;
}

body.dark {
  background-color: #121212;
  color: rgb(179, 171, 253);
}

.nav {
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.3);
}
